<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="de.perflyst.untis">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

	<uses-permission-sdk-23 android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

	<application
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_descriptor"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="false"
		android:theme="@style/AppTheme">

		<activity
			android:name="de.perflyst.untis.activity.ActivityMain"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter
				android:autoVerify="true"
				tools:targetApi="m">
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data
					android:path="/apps/OpenUntis/timetable"
					android:scheme="https"
					tools:ignore="AppLinkUrlError" />
			</intent-filter>
		</activity>

		<activity
			android:name="de.perflyst.untis.activity.ActivityLogin"
			android:label="@string/login"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>

		<activity
			android:name="de.perflyst.untis.activity.ActivityLoginDataInput"
			android:label="@string/login"
			android:parentActivityName="de.perflyst.untis.activity.ActivityLogin"
			android:theme="@style/AppTheme.NoActionBar">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="de.perflyst.untis.activity.ActivityLogin"/>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data
					android:host="setschool"
					android:scheme="untis"/>
			</intent-filter>
		</activity>

		<activity
			android:name="de.perflyst.untis.activity.ActivityPreferences"
			android:label="@string/settings"
			android:parentActivityName="de.perflyst.untis.activity.ActivityMain"
			android:theme="@style/AppTheme.ActionBar">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="de.perflyst.untis.activity.ActivityMain"/>
		</activity>

		<activity
			android:name="de.perflyst.untis.activity.ActivityRoomFinder"
			android:label="@string/title_free_rooms"
			android:parentActivityName="de.perflyst.untis.activity.ActivityMain"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="de.perflyst.untis.activity.ActivityMain"/>
		</activity>

		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"/>
		</provider>

		<receiver android:name="de.perflyst.untis.notification.StartupReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>

		<receiver android:name="de.perflyst.untis.notification.NotificationSetup"/>

		<receiver android:name="de.perflyst.untis.notification.NotificationReceiver"/>
	</application>
</manifest>